<h1> Welcome to Cafeteria-Management </h1>
    <% if flash[:notice] %>
    <div class= "alert alert-success"><%= flash[:notice] %></div>
    <% end %>

<% if @user || @owner %>
    <% role = @user.present? ? @user : @owner %>
    Logged in as: <%= role.first_name + " " + role.last_name %>
    <%= button_to "Logout", logout_path, class:"btn btn-primary", method:"delete" %>

<% end %>
