<div class ="container text-center m-auto w-auto">
<h1> Welcome to Cafeteria-Management </h1>
</div>

<div class="container text-center ">
    <% if flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
    </div>
    <% end %>
</div>

<%= render partial: "shared/menucard.html.erb",
                         :locals => {
                        card_id: "first",
                        menu_category:"Cake",
                        menu_category_name:"Cup Cakes"
                        }
%>
<%= render partial: "shared/menucard.html.erb",
                         :locals => {
                        card_id: "first",
                        menu_category:"Drink",
                        menu_category_name:"Cold Drinks"
                        }
%>
<%= render partial: "shared/menucard.html.erb",
                         :locals => {
                        card_id: "first",
                        menu_category:"Burger",
                        menu_category_name:"Veg"
                        }
%>
