<div class ="container text-center m-auto w-auto">
<h1> Welcome to Cafeteria-Management </h1>
</div>

<div class="container text-center ">
    <% if flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
    </div>
    <% end %>
</div>
