<div class ="container text-center m-auto w-auto">
<h1> Welcome to Cafeteria-Management </h1>
</div>

<div class="container text-center ">
    <% if flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
    </div>
    <% end %>
</div>

<div>
    <p>
        <button class="btn btn-warning"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample"
        >
            Cakes
        </button>
    </p>
    <div class="collapse card" id="collapseExample">
                <div class="d-flex card-body">
                                <div >
                                        <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                        <p class="text cards-description">
                                            Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                            The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                            a liquid, and a leavening agent, such as baking soda or baking powder.
                                        </p>
                                </div>

                                <div>
                                <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                <p class="text cards-description">
                                    Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                    The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                    a liquid, and a leavening agent, such as baking soda or baking powder.
                                </p>
                                </div>

                                <div>
                                <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                <p class="text cards-description">
                                    Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                    The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                    a liquid, and a leavening agent, such as baking soda or baking powder.
                                </p>
                                </div>
                </div>
    </div>
</div>
