.cards {
  display: flex;
  margin:2.5rem;
  height:400px;
  border-radius: 1.25rem;
  justify-content: space-around;

}

.cards-image{
  margin:2rem;
  width:300px;
  height:300px;
}

.cards-description{
  margin-top: 1.5rem;
  margin-left:2rem;
  width: 300px;
  text-align: justify;
}
